*{
    flex-wrap: wrap;
}



.bord{
    position: relative;
    border-width: thin;
    border-style: solid;
    border-color: red;
    background: #051D3B;
}

header{
    display: inline;
    padding-top: 20px;
}

nav li{
    position: relative;
    display: inline;
    font-size: 22px;
    margin-left: 30px;
    left: 900px;
    top: -130px;
}

a{
    color: rgb(66, 250, 20);
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}

a:hover{
    color: red;
    border-width: thin;
    border-style: solid;
    border-color: red;
    border-radius: 5px;
}

h1{
    text-align: center;
    color: rgb(66, 250, 20);
    font-size: 30px;
    font-style: italic;
    font-weight: 900;
}

.checkbox{
    margin-top: 20px;
}